In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/aniruddhachoudhury/Red-Wine-Quality/master/winequality-red.csv")

In [2]:
import numpy as np

In [3]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
data.quality.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [5]:
data.quality.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [6]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [7]:
data.duplicated().sum()

240

In [8]:
data = data.drop_duplicates()

In [9]:
data.duplicated().sum()

0

In [ ]:
from sklearn.preprocessing import StandardScaler

In [10]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [11]:
X = data.drop("quality",axis=1)

In [12]:
X

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [13]:
y = data["quality"]

In [14]:
y

0       5
1       5
2       5
3       6
5       5
       ..
1593    6
1594    5
1595    6
1597    5
1598    6
Name: quality, Length: 1359, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33,random_state=10)

In [18]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [19]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [20]:
pred = model.predict(X_test)

In [21]:
pred

array([6, 6, 5, 5, 6, 7, 6, 5, 5, 7, 4, 5, 6, 5, 5, 6, 5, 5, 7, 5, 6, 6,
       8, 5, 5, 5, 5, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 7, 5, 5, 6, 6, 6,
       5, 5, 5, 5, 5, 6, 4, 5, 5, 6, 3, 7, 6, 7, 5, 5, 5, 6, 7, 5, 6, 6,
       5, 6, 6, 5, 5, 5, 5, 6, 4, 5, 6, 5, 5, 6, 6, 5, 5, 5, 5, 5, 5, 7,
       5, 5, 3, 5, 5, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 5,
       5, 5, 7, 5, 5, 6, 7, 5, 5, 6, 4, 7, 5, 5, 7, 6, 7, 5, 5, 5, 6, 5,
       5, 5, 5, 5, 5, 6, 4, 7, 5, 5, 7, 6, 5, 5, 5, 6, 5, 7, 6, 6, 6, 5,
       5, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 7, 6, 6, 5, 5, 7,
       6, 6, 6, 5, 6, 6, 6, 5, 7, 5, 5, 6, 5, 5, 7, 6, 6, 5, 7, 7, 6, 5,
       7, 7, 6, 5, 5, 6, 6, 5, 6, 4, 6, 6, 6, 5, 7, 7, 6, 5, 5, 5, 7, 8,
       5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 7, 6, 5, 5, 5, 5, 4, 5, 5,
       4, 5, 8, 8, 5, 6, 6, 5, 7, 5, 8, 6, 6, 6, 7, 5, 6, 8, 6, 7, 5, 6,
       6, 6, 5, 7, 5, 6, 6, 6, 7, 5, 6, 6, 7, 7, 7, 6, 7, 7, 5, 6, 5, 6,
       4, 7, 5, 6, 5, 6, 5, 7, 6, 7, 5, 6, 7, 5, 6, 6, 5, 6, 6, 7, 5, 6,
       5, 5, 6, 7, 6, 5, 5, 6, 5, 5, 6, 6, 6, 7, 6, 6, 6, 7, 5, 5, 6, 5,
       6, 5, 7, 5, 6, 6, 5, 5, 4, 5, 7, 5, 6, 5, 5, 5, 6, 7, 7, 6, 6, 7,
       6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 7, 5, 6, 6, 6, 7, 6, 5, 6, 8, 6, 5,
       6, 7, 5, 6, 5, 5, 6, 6, 5, 5, 7, 6, 5, 6, 5, 5, 7, 6, 5, 5, 6, 5,
       6, 5, 6, 6, 5, 5, 5, 4, 7, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5,
       5, 6, 5, 5, 6, 5, 5, 7, 5, 5, 6, 6, 5, 5, 6, 7, 5, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 4, 6], dtype=int64)

In [24]:
model.score(X_train,y_train)

1.0

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_test,pred)

0.5189309576837416

# Grid Search CV

In [30]:
parameters = {
            "criterion": ["gini","entropy"],
            "max_depth" : range(2,32,1),
            "min_samples_leaf" : range(2,10,1),
            "splitter":["best","random"]
}

In [31]:
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator=model, param_grid=parameters,cv=5)

In [32]:
grid_search.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(2, 10),
                         'splitter': ['best', 'random']})

In [33]:
grid_search.best_params_

{'criterion': 'entropy',
 'max_depth': 5,
 'min_samples_leaf': 9,
 'splitter': 'random'}

In [36]:
model_with_best_param = DecisionTreeClassifier(
            criterion='entropy',
 max_depth = 5,
 min_samples_leaf = 9,
 splitter = 'random'
)

In [37]:
model_with_best_param.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=9,
                       splitter='random')

In [38]:
new_pred = model_with_best_param.predict(X_test)

In [39]:
accuracy_score(y_test,new_pred)

0.5033407572383074