In [1]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv("adult.data", names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","prediction"])
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,prediction
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  prediction      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
data.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [16]:
data.education.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [17]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
prediction        0
dtype: int64

In [29]:
data.education.nunique()

16

In [30]:
data.education.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [66]:
X = data.drop("prediction",axis=1)
y = data["prediction"]

In [67]:
len(["Doctorate","Assoc-voc","Assoc-acdm","Prof-school","Masters","Bachelors","Some-college","HS-grad","12th","11th","10th","9th","7th-8th","5th-6th","1st-4th","Preschool"])

16

In [68]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [69]:
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: prediction, Length: 32561, dtype: object

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [71]:
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
17593,25,Private,443855,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico
7150,23,Private,200207,HS-grad,9,Divorced,Handlers-cleaners,Own-child,White,Male,0,0,44,United-States
16081,41,State-gov,293485,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,3103,0,40,United-States
6949,33,Private,111363,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
12293,46,Self-emp-inc,123075,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,70,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15431,33,Private,287908,Some-college,10,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,50,United-States
31623,45,Self-emp-not-inc,149640,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,30,United-States
9270,36,Private,257942,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
6224,52,Local-gov,74784,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States
7551,46,State-gov,421223,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States

In [72]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [73]:
transformer = ColumnTransformer(transformers=[
    ("tf1",OrdinalEncoder(categories=[["Doctorate","Assoc-voc","Assoc-acdm","Prof-school","Masters","Bachelors","Some-college","HS-grad","12th","11th","10th","9th","7th-8th","5th-6th","1st-4th","Preschool"]]),["education"]),
    ("tf2",OneHotEncoder(sparse=False,drop='first'),["workclass","marital-status","occupation","relationship","race","sex","native-country"])
     ],remainder="passthrough")

In [74]:
X_train =transformer.fit_transform(X_train)

In [46]:
data.education.values

array(['Bachelors', 'Bachelors', 'HS-grad', ..., 'HS-grad', 'HS-grad',
       'HS-grad'], dtype=object)

In [45]:
data["education"] = data["education"].str.strip()

In [76]:
X_train.shape

(26048, 86)

In [80]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [81]:
y_train_tf = le.fit_transform(y_train)

In [82]:
y_train_tf

array([0, 0, 1, ..., 0, 1, 0])

## Bagging Classifier Implementation

In [83]:
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
model1 = BaggingClassifier(base_estimator=SVC(),n_estimators=10,random_state=0)

In [85]:
model1.fit(X_train,y_train_tf)

BaggingClassifier(base_estimator=SVC(), random_state=0)

In [86]:
X_test_tf = transformer.transform(X_test)

In [87]:
y_pred = model1.predict(X_test_tf)

In [88]:
y_test_tf = le.transform(y_test)

In [89]:
from sklearn.metrics import confusion_matrix, accuracy_score

accuracy_score(y_test_tf,y_pred)

0.7974819591586059

In [90]:
confusion_matrix(y_test_tf,y_pred)

array([[4964,    7],
       [1312,  230]], dtype=int64)

## Extra Tress Classifiers

In [91]:
from sklearn.ensemble import ExtraTreesClassifier
model2 = ExtraTreesClassifier(n_estimators=100, random_state=0)

In [92]:
model2.fit(X_train,y_train_tf)

ExtraTreesClassifier(random_state=0)

In [93]:
y_pred_2 = model2.predict(X_test_tf)

In [95]:
accuracy_score(y_test_tf,y_pred_2)

0.8315676339628435

## Voting Classifiers Implementation

In [96]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

In [97]:
a = LogisticRegression(multi_class='multinomial', random_state=1)
b = GaussianNB()
c = RandomForestClassifier(n_estimators=50, random_state=1)

In [98]:
model3 = VotingClassifier(estimators=[("a",a),("b",b),("c",c)],voting="soft")

In [99]:
model3.fit(X_train,y_train_tf)

D:\Bulldozers_Regression\env\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

VotingClassifier(estimators=[('a',
                              LogisticRegression(multi_class='multinomial',
                                                 random_state=1)),
                             ('b', GaussianNB()),
                             ('c',
                              RandomForestClassifier(n_estimators=50,
                                                     random_state=1))],
                 voting='soft')

In [100]:
y_pred_3 = model3.predict(X_test_tf)

In [101]:
accuracy_score(y_test_tf,y_pred_3)

0.810379241516966

## Random Forest Classifier Implementation

In [103]:
model4 = RandomForestClassifier()

In [104]:
model4.fit(X_train,y_train_tf)

RandomForestClassifier()

In [105]:
y_pred_4 = model4.predict(X_test_tf)

In [106]:
accuracy_score(y_test_tf,y_pred_4)

0.8535237217871948