In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv("aps_failure_training_set (1).csv",skiprows = [i for i in range(0,20)])

In [73]:
df.head(10)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,11162.0,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,-32478.0,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,-24496.0,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12.0,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,-4662.0,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
5,neg,-27224.0,na,2130706432,218,0,0,0,0,0,...,388574,288278,900430,300412,1534,338,856,0,0,0
6,neg,14.0,0,6,na,0,0,0,0,0,...,168,48,60,28,0,0,0,0,0,0
7,neg,-28112.0,na,2130706432,116,0,0,0,0,0,...,715518,384948,915978,1052166,1108672,341532,129504,7832,0,0
8,neg,13160.0,na,0,na,0,0,0,0,0,...,699290,362510,1190028,1012704,160090,63216,41202,4,0,0
9,pos,22132.0,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0

In [67]:
df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 171 entries, class to eg_000
dtypes: int64(1), object(170)
memory usage: 78.3+ MB

# Handeling Null Values and making indpendent cols as numeric

In [74]:
df.replace("na",np.nan,inplace=True)

In [46]:
df.iloc[1].values

array(['0'], dtype=object)

In [75]:
for i in df.columns:
    if i != "class":
        df[i] = df[i].astype("float64")

In [76]:
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,11162.0,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,neg,-32478.0,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,neg,-24496.0,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,neg,12.0,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,neg,-4662.0,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,neg,21930.0,NaN,6.640000e+02,186.0,0.0,0.0,0.0,0.0,0.0,...,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0,28588.0,0.0,0.0
59996,neg,2286.0,NaN,2.130707e+09,224.0,0.0,0.0,0.0,0.0,0.0,...,10578.0,6760.0,21126.0,68424.0,136.0,0.0,0.0,0.0,0.0,0.0
59997,neg,112.0,0.0,2.130706e+09,18.0,0.0,0.0,0.0,0.0,0.0,...,792.0,386.0,452.0,144.0,146.0,2622.0,0.0,0.0,0.0,0.0
59998,neg,14756.0,NaN,2.130706e+09,494.0,0.0,0.0,0.0,0.0,0.0,...,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0,388422.0,0.0,0.0
59999,neg,-25314.0,NaN,6.980000e+02,628.0,0.0,0.0,0.0,0.0,0.0,...,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0,158.0,0.0,0.0

In [78]:
df["class"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 60000 entries, 0 to 59999
Series name: class
Non-Null Count  Dtype
--------------  -----
60000 non-null  object
dtypes: object(1)
memory usage: 468.9+ KB

In [79]:
df["aa_000"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 60000 entries, 0 to 59999
Series name: aa_000
Non-Null Count  Dtype
--------------  -----
60000 non-null  float64
dtypes: float64(1)
memory usage: 468.9 KB

In [81]:
df.isnull().sum()

class         0
aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 171, dtype: int64

In [82]:
for i in df.columns:
    if i != "class":
        df[i] = df[i].fillna(df[i].median())

In [83]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

# Spliting the data

In [84]:
X = df.drop("class",axis=1)
y = df["class"]

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=1)

In [87]:
X_train

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
55443,-22646.0,0.0,138.0,136.0,0.0,0.0,0.0,0.0,0.0,0.0,...,440238.0,237194.0,727516.0,560654.0,77330.0,14180.0,3374.0,32.0,0.0,0.0
29327,1888.0,0.0,46.0,36.0,0.0,0.0,0.0,250.0,7848.0,10154.0,...,6944.0,3362.0,5310.0,9086.0,11674.0,43088.0,2.0,0.0,0.0,0.0
1540,-9996.0,0.0,0.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0,...,770514.0,432656.0,1092368.0,1082164.0,851828.0,476988.0,649024.0,12338.0,0.0,0.0
45009,-26478.0,0.0,228.0,180.0,0.0,0.0,0.0,0.0,0.0,0.0,...,288300.0,168526.0,336856.0,320684.0,255380.0,168158.0,220090.0,4972.0,0.0,0.0
50332,-18300.0,0.0,1678.0,126.0,0.0,0.0,0.0,0.0,0.0,271972.0,...,332678.0,128874.0,229706.0,316654.0,1042050.0,54590.0,2466.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50057,20446.0,0.0,1500.0,126.0,0.0,0.0,0.0,0.0,0.0,0.0,...,131104.0,60438.0,119634.0,136708.0,67956.0,52774.0,205720.0,44412.0,0.0,0.0
32511,14.0,0.0,34.0,32.0,2.0,2.0,0.0,0.0,0.0,0.0,...,112.0,38.0,108.0,78.0,26.0,26.0,0.0,0.0,0.0,0.0
5192,30656.0,0.0,770.0,716.0,0.0,0.0,0.0,0.0,0.0,152.0,...,248614.0,110006.0,213190.0,250540.0,203992.0,132530.0,149748.0,76.0,0.0,0.0
12172,6.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38.0,12.0,36.0,36.0,54.0,26.0,0.0,0.0,0.0,0.0
33003,98.0,0.0,50.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,...,304.0,64.0,348.0,2718.0,224.0,534.0,0.0,0.0,0.0,0.0

In [88]:
y_test

15281    neg
21435    neg
44536    neg
13518    neg
47529    neg
        ...
31086    neg
22570    neg
34732    neg
39020    neg
39592    neg
Name: class, Length: 15000, dtype: object

# Logistic Model

In [89]:
from sklearn.linear_model import LogisticRegression
model_log = LogisticRegression()

In [91]:
model_log.fit(X_train,y_train)

D:\Bulldozers_Regression\env\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [92]:
y_pred_log = model_log.predict(X_test)

In [93]:
y_pred_log

array(['neg', 'neg', 'neg', ..., 'neg', 'neg', 'neg'], dtype=object)

In [95]:
from sklearn.metrics import accuracy_score,roc_auc_score
accuracy_score(y_test,y_pred_log)

0.9889333333333333

# SVC Model

In [99]:
from sklearn.svm import SVC
model_svc = SVC()

In [100]:
model_svc.fit(X_train,y_train)

SVC()

In [102]:
y_pred_svvc = model_svc.predict(X_test)

In [103]:
accuracy_score(y_test,y_pred_svvc)

0.9844

# Random Forest Classifier

In [104]:
from sklearn.ensemble import RandomForestClassifier
model_forest = RandomForestClassifier()

In [105]:
model_forest.fit(X_train,y_train)

RandomForestClassifier()

In [106]:
y_pred_forest = model_forest.predict(X_test)

In [110]:
accuracy_score(y_test,y_pred_forest)

0.9939333333333333

# ADABoost Classifier

In [111]:
from sklearn.ensemble import AdaBoostClassifier
model_ada = AdaBoostClassifier()

In [112]:
model_ada.fit(X_train,y_train)

AdaBoostClassifier()

In [113]:
y_pred_ada = model_ada.predict(X_test)

In [114]:
accuracy_score(y_test,y_pred_ada)

0.9912

# Gradient Boost Classifier

In [115]:
from sklearn.ensemble import GradientBoostingClassifier
model_grad = GradientBoostingClassifier()

In [116]:
model_grad.fit(X_train,y_train)

GradientBoostingClassifier()

In [117]:
y_pred_grad = model_grad.predict(X_test)

In [119]:
accuracy_score(y_test,y_pred_grad)

0.9932666666666666

# XGBoost Classifier

In [120]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.1-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: numpy in d:\bulldozers_regression\env\lib\site-packages (from xgboost) (1.22.3)
Requirement already satisfied: scipy in d:\bulldozers_regression\env\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.1

In [121]:
import xgboost as xgb

In [122]:
model_xgb = xgb.XGBClassifier()

In [124]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [125]:
y_train_lc = le.fit_transform(y_train)

In [127]:
y_train_lc.shape

(45000,)

In [128]:
y_train.shape

(45000,)

In [129]:
model_xgb.fit(X_train,y_train_lc)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [131]:
y_pred_xgb = model_xgb.predict(X_test)

In [132]:
y_pred_xgb

array([0, 0, 0, ..., 0, 0, 0])

In [133]:
y_pred_xgb_inverse = le.inverse_transform(y_pred_xgb)

In [134]:
y_pred_xgb_inverse

array(['neg', 'neg', 'neg', ..., 'neg', 'neg', 'neg'], dtype=object)